<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Presupuestos</title>
    <link rel="stylesheet" href="/CSS/inicioPresu.css">
</head>
<body>

<main>
    <h1>Lista de Presupuestos</h1>

    <div class="top-actions">
        <a th:href="@{/presupuestos/agregarPresupuesto}" class="btn">Crear nuevo presupuesto</a>
    </div>

    <section class="search-container">
        <h2>🔎 Buscar</h2>
        <form class="search-form" th:action="@{/presupuestos/filtroPr}" method="get">
            <label for="tipoBusqueda">Buscar por:</label>
            <select name="tipoBusqueda" id="tipoBusqueda">
                <option value="obraName">Nombre</option>
                <option value="idObra">ID</option>
            </select>

            <input type="text" name="valorBusqueda" placeholder="Término de búsqueda">
            <input type="submit" value="Buscar" class="btn btn-secondary">
        </form>
    </section>

    <div th:if="${presupuestos != null and !presupuestos.empty}" class="table-container">
        <table id="presupuestosTable">
            <thead>
            <tr>
                <th>ID Obra</th>
                <th>Nombre de la obra</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="presupuesto : ${presupuestos}">
                <td th:text="${presupuesto.id_obra}"></td>
                <td th:text="${presupuesto.obraName}"></td>
                <td>
                    <a th:href="@{/presupuestos/cambiar/} + ${presupuesto.id_obra}" class="btn btn-edit">Editar</a>
                    <a th:href="@{/presupuestos/borrar/} + ${presupuesto.id_obra}" class="btn btn-danger"
                       onclick="return confirm('¿Está seguro que desea eliminar este presupuesto?')">Eliminar</a>
                    <a th:href="@{/presupuestos/detalle/}+${presupuesto.id_obra}" class="btn btn-secondary">Ver Detalle</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${presupuestos == null or presupuestos.empty}">
        <p class="no-results">No hay presupuestos registrados</p>
    </div>

    <div class="bottom-actions">
        <a th:href="${session.dashboardOrigen}" class="btn">Regresar</a>
    </div>
</main>

</body>
</html>
