<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar inventario</title>
</head>
<body>
<h1>Agregar inventario</h1>
<br>
<a th:href="@{/indice}">Regresar</a>
<br>
<br>
<form th:action="@{/guardarInv}" method="post" th:object="${inventario}">
    <label>Nombre Gestor:</label>
    <input type="text" name="nombreGestor" th:field="*{nombreGestor}">
    <span th:if="${#fields.hasErrors('nombreGestor')}" th:errores="*{nombreGestor}">Campo obligatorio</span>
    <br>

    <label>Nombre Obra:</label>
    <input type="text" name="nombreobra" th:field="*{nombreobra}">
    <span th:if="${#fields.hasErrors('nombreobra')}" th:errores="*{nombreobra}">Campo obligatorio</span>
    <br>

    <label>Tipo de Registro:</label>
    <select name="tipoRegistro" th:field="*{tipoRegistro}">
        <option value="">-- Seleccione --</option>
        <option value="Ingreso">ingreso</option>
        <option value="Consumo">consumo</option>
    </select>
    <span th:if="${#fields.hasErrors('tipoRegistro')}" th:errores="*{tipoRegistro}">Campo obligatorio</span>
    <br>

    <label>Fecha:</label>
    <input type="date" name="fecha" th:field="*{fecha}">
    <span th:if="${#fields.hasErrors('fecha')}" th:errores="*{fecha}">Campo obligatorio</span>
    <br>

    <labe>Unidad de Medida:</labe>
    <input type="text" name="unidadMedida" th:field="*{unidadMedida}">
    <spa th:if="${#fields.hasErrors('unidadMedida')}" th:errores="*{unidadMedida}">Campo obligatorio</spa>
    <br>

    <label>Cantidad:</label>
    <input type="number" name="cantidad" th:field="*{cantidad}">
    <span th:if="${#fields.hasErrors('cantidad')}" th:errores="*{cantidad}">Campo obligatorio</span>
    <br>

    <label>Material:</label>
    <input type="text" name="material" th:field="*{material}">
    <span th:if="${#fields.hasErrors('material')}" th:errores="*{material}">Campo obligatorio</span>
    <br>

    <label>Precio por Unidad de medida</label>
    <input type="number" name="precioUnidad" th:field="*{precioUnidad}">
    <span th:if="${#fields.hasErrors('precioUnidad')}" th:errores="*{precioUnidad}">Campo obligatorio</span>
    <br>

    <input type="submit" name="salvar" value="Guardar">
</form>
</body>
</html>