<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
</head>
<body>


<a>Gestion de Inventario</a>
<br>

<h2>Inventario</h2>
<a th:href="@{/crearInv}">Crear inventario</a>
<br>

<a th:href="@{/verInv}">Visualizar inventario</a>
<br>

<a th:href="@{/cambiarInv}">Modificar inventario</a>
<br>

<a th:href="@{/borrarInv}">Eliminar un inventario</a>
<br>

<form th:action="@{/logout}" method="post">
    <a href="#" onclick="this.parentNode.submit()">Cerrar sesion</a>



</form>
</body>
</html>
